<nav class="main-nav"
  aria-label="Main Navigation"
  [ngClass]="{ 'header-hidden' : !isVisible, 'header-visible': isVisible}">

  <div class="nav-content">
    <div class="logo-container">
      <a routerLink="/">
        <p>Eduardo</p>
      </a>
    </div>

    <div class="nav-menu-container">
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a routerLink="/home" class="nav-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <p class="logo-text">Home</p>
          </a>
        </li>

        <li class="nav-menu-item">
          <a routerLink="/projects" class="nav-menu-link" routerLinkActive="active">
            <p>Projects</p>
          </a>
        </li>

        <li class="nav-menu-item">
          <a routerLink="/skills" class="nav-menu-link" routerLinkActive="active">
            <p>Skills</p>
          </a>
        </li>

        <li class="nav-menu-item">
          <a routerLink="/education" class="nav-menu-link" routerLinkActive="active">
            <p>Education</p>
          </a>
        </li>

        <li class="nav-menu-item">
          <a routerLink="/about-me" class="nav-menu-link" routerLinkActive="active">
            <p>About Me</p>
          </a>
        </li>

        <li class="nav-menu-item">
          <a routerLink="/contact" class="nav-menu-link" routerLinkActive="active">
            <p>Contact</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
